<div class="category" style="margin-top: 2vh;">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
	<div class="col s12 m5" style="top: 50%; position: absolute; transform: translate(-50%, -70%); width: 25vw; text-align: center; left: 50%;">
		<div class="card-panel white">
				<div class="field">
					<div class="row">
						<div class="input-field">
							<%= f.email_field :email, :required => true, :class => "validate" %>
							<%= f.label :email do %>
									이메일 <i class="material-icons left">perm_identity</i>
							<% end %>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="row">
						<div class="input-field">
							<%= f.password_field :password, :required => true, :class => "validate", :minlength => 6 %>
							<%= f.label :password do %>
									비밀번호 <i class="material-icons left">lock_open</i>
							<% end %>
						</div>
					</div>
				</div>
				<div class="actions">
					<%= f.button :submit, :class => "btn waves-effect waves-light blue-grey lighten-1" do %>
						<i class="material-icons left">lock_open</i> 로그인
					<% end %>
				</div>
		</div>
	</div>
</div>
<% end %>
